@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent browser autofill from making inputs grey */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #000 !important;
  background-color: white !important;
}
